.navigation {
    width: 400px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 104px;
    height: 100%;
    align-items: center;
  }

.navigation__link {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    text-decoration: none;
    color: white;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navigation__link-dark {
  color: black;
}

.navigation__link-home {
  border-bottom: 3px solid white;
  width: 68px;
  display: flex;
  justify-content: center;
}

.navigation__link-save {
  border-bottom: 3px solid black;
  width: 178px;
  display: flex;
  justify-content: center;
}

.navigation__link :hover {
    cursor: pointer;
  }

  .navigation__button {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: white;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 100px;
    background: none;
    width: 176px;
    height: 48px;
  }

  .navigation__home {
    width: 68px;
  }

  .navigation__button-dark {
    color: black;
    border-color: black;
  }

  @media screen and (max-width: 650px) {
    .navigation__link {
      font-size: 16px;
    }
    }

  @media screen and (max-width: 650px) {
    .navigation {
      display: none;
    }
    }

  @media screen and (max-width: 950px) {
    .navigation {
      margin-right: 40px;
    }
    }

.navigation__mobile {
  display: flex;
  background-color: black;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 16px;
  padding-bottom: 22px;
  padding-left: 16px;
}

.navigation__link_mobile {
  color: white;
  height: 56px;
  border: none;
  padding-bottom: 22px;
  width: auto;
}

.navigation__button_mobile {
  color: white;
  width: 288px;
  padding-left: 16px;
  border-color: white;
}