.searchForm {
    background-image: url(../../images/background.png);
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 576px;
    flex-direction: column;
    align-content: center;
    align-items: center;
    margin-top: -80px;
}

.searchForm__conteiner {
    width: 608px;
}

.searchForm__title {
    font-family: Roboto Slab;
    font-style: normal;
    font-weight: normal;
    font-size: 60px;
    line-height: 64px;
    color: white;
}

.searchForm__text {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    color: white;
}

.searchForm__form {
    width: 100%;
    /* height: 64px; */
    /* border: 1px solid #D1D2D6; */
    box-sizing: border-box;
    border-radius: 100px;
    /* background: #FFFFFF; */
    display:flex;
    flex-direction:row;
    margin-top: 88px;
}

.searchForm__input {
    flex-grow:2;
    border:none;
    border-radius: 100px;
    width: 100%;
}

.searchForm__btn {
    background: #2F71E5;
    border-radius: 100px;
    border:none;
    width: 169px;
    margin-left: -160px;
    height: 64px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: #FFFFFF;
}

.searchForm__btn:hover {
    background-color:#347EFF;
    cursor: pointer;
}

.searchForm__btn:active {
    background-color:#2A65CC;
    cursor: pointer;
}

@media screen and (max-width: 1440px) {
    .searchForm__conteiner {
        width: calc(285px + (608 - 285) * ((100vw - 320px) / (1440 - 320)));
    }
    }

@media screen and (max-width: 950px) {
    .searchForm__title {
        font-size: calc(36px + (60 - 36) * ((100vw - 320px) / (1440 - 320)));
        line-height: calc(40px + (64 - 40) * ((100vw - 320px) / (1440 - 320)));    
    }

    .searchForm__btn {
        width: 160px;
        margin-left: -150px;

    }
    
    }

@media screen and (max-width: 770px) {
    .searchForm {
        height: 400px;
    }

    .searchForm__conteiner {
        margin-top: 60px;
    }

    .searchForm__title {
        margin-bottom: 16px;
    }

    .searchForm__text {
        margin: 0;
    }

    .searchForm__form {
        margin-top: 48px;
    }
    }

@media screen and (max-width: 650px) {
    .searchForm__form {
        margin-top: 122px;
        flex-direction: column;
    }

    .searchForm {
        height: 536px;
    }

    .searchForm__input {
        height: 56px;
        margin-bottom: 16px;
        padding: 0;    
    }

    .searchForm__btn {
        width: 100%;
        margin: 0;
        padding: 0;
        height: 56px;
    }

    }    
  