.search-form {
    background-image: url(../../images/background.png);
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 576px;
    flex-direction: column;
    align-content: center;
    align-items: center;
    margin-top: -80px;
}

.search-form__conteiner {
    width: 608px;
}

.search-form__title {
    font-family: Roboto Slab, Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 60px;
    line-height: 64px;
    color: white;
    margin-top: 80px;
    margin-bottom: 32px;
}

.search-form__text {
    font-family: Roboto, Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    color: white;
    margin: 0;
}

.search-form__form {
    width: 100%;
    /* height: 64px; */
    /* border: 1px solid #D1D2D6; */
    box-sizing: border-box;
    border-radius: 100px;
    /* background: #FFFFFF; */
    display:flex;
    flex-direction:row;
    margin-top: 88px;
}

.search-form__input {
    flex-grow:2;
    border:none;
    border-radius: 100px;
    /* width: 100%; */
    padding-left: 24px;
    padding-right: 175px;
    font-family: Roboto, Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
}

.search-form__input:focus {
    outline: none;
}

.search-form__btn {
    background: #2F71E5;
    border-radius: 100px;
    border:none;
    width: 169px;
    margin-left: -160px;
    height: 64px;
    font-family: Roboto, Source Sans Pro;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: #FFFFFF;
}

.search-form__btn:hover {
    background-color:#347EFF;
    cursor: pointer;
}

.search-form__btn:active {
    background-color:#2A65CC;
    cursor: pointer;
}

.search-form__btn:disabled {
    background-color: gainsboro;
}

@media screen and (max-width: 1440px) {
    .search-form__conteiner {
        width: calc(285px + (608 - 285) * ((100vw - 320px) / (1440 - 320)));
    }
    }

@media screen and (max-width: 950px) {
    .search-form__title {
        font-size: calc(36px + (60 - 36) * ((100vw - 320px) / (1440 - 320)));
        line-height: calc(40px + (64 - 40) * ((100vw - 320px) / (1440 - 320)));    
    }

    .search-form__btn {
        width: 160px;
        margin-left: -150px;

    }

    /* .search-form__input {
        padding-right: 109px;
    } */
    
    }

@media screen and (max-width: 740px) {
    .search-form {
        height: 400px;
    }

    .search-form__conteiner {
        margin-top: 60px;
    }

    .search-form__title {
        margin-bottom: 16px;
    }

    .search-form__text {
        margin: 0;
    }

    .search-form__form {
        margin-top: 48px;
    }
    }

@media screen and (max-width: 740px) {
    .search-form__form {
        margin-top: 122px;
        flex-direction: column;
    }

    .search-form {
        height: 536px;
    }

    .search-form__input {
        height: 56px;
        margin-bottom: 16px;
        padding: 0; 
        padding-left: 24px;   
        padding-right: 24px;
    }

    .search-form__btn {
        width: 100%;
        margin: 0;
        padding: 0;
        height: 56px;
    }

    .search-form__title {
        margin-top: 30px;
        }

    }    
  