.footer {
    
    width: 100%;
    background-color: white;
    /* padding-left: 104px;
    padding-right: 104px; */
    height: 80px;
}

.footer__conteiner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 104px;
    margin-right: 104px;
    padding-top: 30px;
}


@media screen and (max-width: 770px) {

    .footer {
        display: flex;
        justify-content: center;
        height: 176px;
    }

    .footer__conteiner {
        width: 288px;
        display: flex;
        flex-direction: column-reverse;
    }

    } 