.newscard-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 17px 20px;
    padding: 0;
    margin-top: 0px;
    width: 100%;
    list-style-type: none;
    margin: 0;
}

.newscard-list__save {
    background-color: #F5F6F7;
    padding: 62px 104px 62px 104px;
}

@media screen and (max-width: 950px) {
    .newscard-list__save {
      padding: 40px 32px 40px 32px;
    }

    .newscard-list {
        margin: 0;
    }
    }

@media screen and (max-width:740px) {
    .newscard-list__save {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .newscard-list {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    }    
