.news-card{
    border-radius: 10px;
    background-color: white;
    max-width: 400px;
    position: relative;
    /* min-width: 224px; */
    height: 576px;
}

.news-card__save-btn {
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    width: 40px;
    height: 40px;
    right: 6%;
    top: 4.17%;
    /* background: #FFFFFF; */
    border-radius: 8px;
    border: none;
    cursor: pointer;
}

.news-card__save-btn-home {
    background-image: url(../../images/save.svg);
}

.news-card__save-btn-home:hover {
    background-image: url(../../images/save-hover.svg);
}

.news-card__save-btn-home:active {
    background-image: url(../../images/save-clicked.svg);
}

.news-card__save-btn-trash {
    background-image: url(../../images/trash.svg);
}

.news-card__save-btn-trash:hover {
    background-image: url(../../images/trash-hover.svg);
}

.news-card__image {
    /* background-image: url(../../images/image_08-min.png);
    background-repeat: no-repeat; */
    height: 272px;
    display: block;
    width: 100%;
    border-radius: 10px 10px 0 0;
    /* object-fit: cover; */
    overflow: hidden;
    transition: opacity .3s ease-in;
    top: 0;
    /* position: absolute; */
}

.news-card__article {
    /* margin: 20px, 24px, 24px, 24px; */
    margin-left: 24px;
    margin-right: 24px;
    margin-top: 20px;
    /* padding-bottom: 24px; */
}

.news-card__date {
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    color: #B6BCBF;
    margin-top: 0px;
    margin-bottom: 12px;
}

.news-card__title {
    font-family: Roboto Slab, Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    line-height: 30px;
    color: #1A1B22;
    margin-top: 0px;
    margin-bottom: 16px;
    cursor: pointer;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.news-card__text {
    font-family: Roboto, Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #1A1B22;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    margin-bottom: 18px;
    margin-top: 0px;
}

.news-card__source {
    font-family: Roboto Slab, Source Sans Pro;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.4px;
    text-transform: uppercase;
    color: #B6BCBF;
    margin-bottom: 24px;
    /* bottom: 0; */
    position: absolute;
    margin: 0;
}

.news-card__keyword {
    position: absolute;
    background: #FFFFFF;
    border-radius: 10px;
    width: 87px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Roboto, Source Sans Pro;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    color: black;
    left: 6%;
    top: 4.17%;
    margin: 0;
}

.news-card__popup-save {
    position: absolute;
    background: #FFFFFF;
    border-radius: 10px;
    width: 87px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Roboto, Source Sans Pro;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    color: black;
    /* left: 6%; */
    top: 4.17%;
    right: 17.25%;
    /* top: 8.82%; */
    margin: 0;
    width: auto;
    padding: 0 26px 0 26px;
    z-index: 2;
}

.news-card__popup-hidden {
    display: none;
}

@media screen and (max-width: 1350px) {
    .news-card__text {
        -webkit-line-clamp: 4;
    }}

@media screen and (max-width: 1100px) {
    .news-card__title {
        font-size: 22px;
        line-height: 24px;
        margin: 0;
    }

    .news-card__image {
        height: 150px;
    }

    .news-card__save-btn {
        right: 2.57%;
        top: 1.33%;
    }

    .news-card {
        height: 420px;
    }

    .news-card__article {
        margin: 16px;
    }

    .news-card__text {
        -webkit-line-clamp: 4;
        margin-top: 10px;
        margin-bottom: 12px;
    }
    
    .news-card__date {
        margin-top: 16px;
        margin-bottom: 12px;
    }

    .news-card__source {
        margin-bottom: 16px;
    }

    .news-card__keyword {
        right: 2.57%;
        top: 1.33%;
    }

    .news-card__popup-save {
        width: 97px;
        font-family: Roboto, Source Sans Pro;
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 20px;
        padding: 4px 6px 4px 6px;
    }
    }

@media screen and (max-width: 740px) {

    .news-card {
        width: 288px;
        height: 440px;
    }

    .news-card__image {
        height: 196px;
    }

    .news-card__text {
        -webkit-line-clamp: 3;
    }

    .news-card__date {
        margin: 0;
    }

    /* .news-card__source {
        margin-top: 30px;
    } */
    }   