.news {
    padding: 80px 104px 80px 104px;
    background-color: #F5F6F7;
}

@media screen and (max-width: 950px) {
    .news {
        padding: 40px;
    }
    }

@media screen and (max-width: 650px) {
    .news {
        padding: 32px 16px 24px 16px;
    }
    }